nav {
    background-color: rgb(23, 5, 73);
}

a {
    text-decoration: none;
    color: rgb(224, 17, 17);
}

a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 50px;
    color: rgb(1, 162, 255);
}

.nav-item {
    font-size: 25px;
}